
<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Listar Produtos</title>
<link rel="stylesheet" href="_css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="_css/teste1-style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type='text/javascript' src="_script/angApps.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<nav class="menu-principal">
				<ul>
					<li><a href="teste1.html">Home</a></li>
					<li><a href="listarProdutos.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Produtos</a></li>
					<li><a href="listarClientes.html"><i class="fa fa-users" aria-hidden="true"></i> Clientes</a></li>
					<li><a href="listarPedidos.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Pedidos</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<!-- UPDATE MODAL -->
	<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Atualizar Produto #<span id="aId"></span></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<div class="form-group">
	  		  	<form id="atualizarProduto" name="atualizarProduto" method="post">
					<input type="hidden" id="id_atualizar" name="id_atualizar"></input>
					<label for="aNome">Nome</label>
					<input type="text" class="form-control" id="aNome" name="aNome" placeholder="nome do produto...">
					<label for="aDescricao">Descrição</label>
					<input type="text" class="form-control" id="aDescricao" name="aDescricao" placeholder="descricao...">
					<label for="aPreco">Preço</label>
					<input type="text" class="form-control" id="aPreco" name="aPreco" placeholder="00,00">
		  			<button type="submit" class="btn btn-primary">Atualizar</button>
				</form>
			</div>
	      </div>
	      <div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		  </form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Deletar Produto #<span id="dId"></span>?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<table class="table table-sm table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descricao</th>
						<th>Preco</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span id="dNome"></span></td>
						<td><span id="dDescricao"></span></td>
						<td><span id="dPreco"></span></td>
					</tr>
				</tbody>
			</table>
	      </div>
	      <div class="modal-footer">
		  <form id="deletarProduto" name="deletarProduto" method="post">
			  <input type="hidden" name="id_excluir" id="id_excluir" />
			  <button type="submit" class="btn btn-primary">Sim</button>
			  <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
		  </form>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="table-container">
		<div class="header-table">
			<span><h1><i class="fa fa-shopping-bag" aria-hidden="true"></i> Produtos</h1></span>
		</div>
		<div class="table-responsive">
			<div ng-app="carregaBanco" ng-controller="carregaProdutos">
                <table class="table table-hover">
					<thead>
						<tr>
		                    <th>ID</th>
		                    <th>Nome</th>
		                    <th>Descrição</th>
		                    <th>Preço</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
		                <tr ng-repeat="x in produtos">
		                    <td>{{ x.Id }}</td>
		                    <td>{{ x.Nome }}</td>
		                    <td>{{ x.Descricao }}</td>
		                    <td>{{ x.Preco }}</td>
							<td><button ng-click="updateInfo(x.Id, x.Nome, x.Descricao, x.Preco)" id="atualizar" type="button"
								class="btn btn-outline-warning btn-sm" data-toggle="modal"
								data-target="#updateModal">Atualizar</button>
								<button ng-click="deleteInfo(x.Id, x.Nome, x.Descricao, x.Preco)" id="deletar" type="button"
									class="btn btn-outline-danger btn-sm" data-toggle="modal"
									data-target="#deleteModal">Excluir</button></td>
		                </tr>
					</tbody>
                </table>
            </div>
		</div>
		<script type="text/javascript">
			$("#deletarProduto").submit(function(e){
	            e.preventDefault();
	            $.ajax({
	                type : 'POST',
	                data: $("#deletarProduto").serialize(),
	                url : 'http://guilhermevarela.xyz/_php/deletarProduto.php',
	                success : function(data){
	                    alert(data);
	                    location.reload();
	                }
	            });
	            return false;
	        });
			$("#atualizarProduto").submit(function(e){
	            e.preventDefault();
	            $.ajax({
	                type : 'POST',
	                data: $("#atualizarProduto").serialize(),
	                url : 'http://guilhermevarela.xyz/_php/atualizarProduto.php',
	                success : function(data){
	                    alert(data);
	                    location.reload();
	                }
	            });
	            return false;
	        });
		</script>
</body>
</html>
